html{
	scroll-behavior: smooth;
}

body, h1, span, ul, p{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

img{
	display: block;
	padding-top: 1vh;
}

#navbar{
	width: 10%;
	height: 100%;
	float: left;
	list-style-type: none;
}

#navbar li{
	text-align: center;
}

#navbar li a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 3vh 1.5vw;
	font-size: 1.5vw;
}

#navbar li a:hover{
	background-color: #c2c2d6;
	color: white;
}

#navbar li a.active{
	background-color: #c2c2d6;
	color: white;
}

.page-header{
	top: 0;
	background-color: #b5b5c0;
	height: 3vh;
}

.sticky{
	position: fixed;
	top: 0;
	width: 10%;
	height: 100%;
}

.section-card{
	height: 100vh;
}

#info{
	position: absolute;
	width: 90%;
	top: 3vh;
	left: 10%;
}

.contact-container{
		padding-left: 2vw;
}

.contact{
	position: fixed;
	bottom: 0;
}

.bold-main{
	display: none;
	font-weight: bold;
	font-family: Alegor;
	font-size: 5vw;
	margin-left: 10vw;
	padding-top: 15vh;
}

#info hr{
	position: relative;
	top: 60vh;
}

button{
	padding: 30px;
	margin-left: 40%;
}


@media only screen and (max-width:1080px){

}
